dl {
  display: flex;
  background-color: white;
  flex-direction: column;
  width: 100%;
  max-width: 700px;
  position: relative;
  padding: 20px;
}

dt {
  align-self: flex-start;
  width: 100%;
  font-weight: 700;
  display: block;
  text-align: left;
  font-size: 1.2em;
  font-weight: 700;
  margin-bottom: 20px;
  margin-left: 130px;
  font-family: "Lato";
}

.text {
  display: flex;
  align-items: left;
  height: 40px;
  width: 130px;
  position: absolute;
  left: 0;
  justify-content: flex-end;
  font-family: "Lato";

}

p {
  align-items: center;
  font-size: 1.2em;
  font-weight: 600;
  font-size: .8em;
  text-transform: uppercase;
  font-family: "Lato";
}


html, body {
  height: 100px;
  font-family: "Lato";
  color: #FFFFFF;
  min-width:100px;
  background-color:rgba(60, 60, 60, 0.7)
}



