.text, .myURL {
  display: flex;
  align-items: left;
  height: 40px;
  width: 130px;
  position: absolute;
  left: 0;
  justify-content: flex-end;
  font-family: "Lato";

}

p, .myURL {
  align-items: center;
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
  font-family: "Lato";
}


html, .myURL {
  height: 100px;
  font-family: "Lato";
  color: #FFFFFF;
  min-width:100px;
  background-color:rgba(60, 60, 60, 0.7)
}

div {
  min-width: 100px;
}



